{% extends 'inicio.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block tittle %}
    <title>Registrar</title>
    {% endblock tittle %}
  </head>
  <body>
    {% block principal %}
     {% if messages %} 
     {% for message in messages %}
    <div class="alert alert-danger">{{message}}</div>
    {% endfor %} {% endif %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
          <form method="POST" class="">
            {% csrf_token %} {{ form.as_p }}
            <input
              type="submit"
              class="btn btn-outline-success"
              value="Submit"
            />
          </form>
        </div>
      </div>
    </div>
    {% endblock principal %}
  </body>
</html>
