{% extends 'inicio.html' %}

{% block title %}
    Listar Clientes
{% endblock title %}

{% block principal %}
    {% if clientes %}
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Celular</th>
      <th scope="col">Fecha De Nacimiento</th>
      <th colspan=2 scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in  clientes %}
    <tr>
      <td>{{cliente.docCliente}}</td>
      <td>{{cliente.nombres}}</td>
      <td>{{cliente.primerApellido}}</td>
      <td>{{cliente.segundoApellido }}</td>
      <td>{{cliente.email}}</td>
      <td>{{cliente.celular}}</td>
      <td>{{cliente.fechaNacimiento}}</td>
      <td><a href="" class="btn btn-warning">Editar</a></td>
      <td>{{cliente.fechaNacimiento}}</td>
    </tr>
      {% endfor %}
  </tbody>
</table>      
    {% else %}
    <h1>No hay datos para mostrar</h1>
    {% endif %}
{% endblock principal %}